<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

    <body>
        <%- include ('partials/navbar.ejs')%>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <form>
                        <h2>Crear Ingreso</h2>
                        <div class="mb-3">
                            <label for="id_juguete_fk"
                                class="form-label">ID Juguete</label>
                            <input type="text" class="form-control"
                                id="id_juguete_fk">
                        </div>
                        <div class="mb-3">
                            <label for="fecha_ingreso"
                                class="form-label">Fecha Ingreso</label>
                            <input type="text" class="form-control"
                                id="fecha_ingreso">
                        </div>
                        <button type="submit"
                            class="btn btn-primary">Agregar</button>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <form>
                        <h2>Editar Ingreso</h2>
                        <div class="mb-3">
                            <label for="id"
                                class="form-label">ID</label>
                            <input type="text" class="form-control"
                                id="id">
                        </div>
                        <div class="mb-3">
                            <label for="id_juguete_fk"
                                class="form-label">ID Juguete</label>
                            <input type="text" class="form-control"
                                id="id_juguete_fk">
                        </div>
                        <div class="mb-3">
                            <label for="fecha_ingreso"
                                class="form-label">Fecha Ingreso</label>
                            <input type="text" class="form-control"
                                id="fecha_ingreso">
                        </div>
                        <button type="submit"
                            class="btn btn-primary">Actualizar</button>
                    </form>
                </div>                      
                <div class="mt-5">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID Juguete</th>
                                <th scope="col">Fecha Ingreso</th>
                                <th scope="col">Acciones</th>   
                            </tr>
                        </thead>
                        <tbody>
                            <% ingresos.forEach(item=> { %>
                            <tr>
                                <td>
                                    <%= item.id%>
                                </td>
                                <td>
                                    <%= item.id_juguete_fk %>
                                </td>
                                <td>
                                    <%= item.fecha_ingreso %>
                                </td>
                                <td>
                                    <form method="POST"
                                        action="/eliminar/<%= item.id %>">
                                        <button type="submit"
                                            class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <%- include ('partials/footer.ejs')%>
</html>